* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font: white;
    height: 100vh;
    overflow-y: hidden;
}

.main_navbar {
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

img.invert {
    filter: invert(1);
    height: 32px;
}

img.log {
    height: 32px;
    cursor: pointer;
}

.logo {
    padding: 0px 18px;
}

img.home {
    height: 24px;
    cursor: pointer;

}

button#ho {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(31, 31, 31);
    transition: scale ease-in .22s;
}

button#ho:hover {
    transform: scale(1.03);
    background-color: rgb(40, 40, 40);
}

button {
    background: transparent;
    border: 0px;
}

.mid {
    display: flex;
    gap: 8px;

}

.search1 {
    width: 10%;

}

.search2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 90%;
    border-radius: 38px;
    background-color: rgb(31, 31, 31);
    padding: 0px 15px;

}

img.ser {
    width: 22px;
    color: rgb(40, 40, 40);
}

input#write {
    width: 380px;
    padding: 13px;
    font-size: 1rem;
    background-color: rgb(31, 31, 31);
    border: 0px;
    color: white;
}

.search2:focus-within {
    border: 2px solid white;
}

input#write:focus-visible {
    outline: -webkit-focus-ring-color 0px;
}

img.bes {
    width: 24px;
    transition: scale ease-in .22s;

}

img.bes:hover {
    transform: scale(1.08);

}

.s2 {
    padding-left: 12px;
    height: 28px;
    border-left: 1px solid rgb(209, 208, 208);
}

div.right {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    text-align: center;
    align-items: center;

}

a.install_field {
    text-decoration: none;
    display: flex;
    color: rgb(165, 165, 165);
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 0px 8px;
    font-weight: 700;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all ease-in .22s;
}

a.install_field:hover {
    transform: scale(1.03);
    color: white;
}

img.install_icon {
    width: 16px;

}

a.bell_field {
    text-decoration: none;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    align-items: center;
    gap: 22px;
    padding: 0px 8px;

}

span.bell_icon img {
    width: 16px;
    transition: scale ease-in .22s;
}

span.bell_icon img:hover {
    transform: scale(1.09);
}

.u_name {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    background-color: rgb(31, 31, 31);

}

span.user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: scale ease-in .22s;
}

span.user:hover {
    transform: scale(1.09);
}

.container {
    display: flex;
    gap: 5px;
    height: 76vh;
}

.left_w {
    width: 30vw;
    background-color: #121212;
    border-radius: 8px;
    padding: 12px 16px;
    transition: display 8s ease-in;

}

.left_w:hover .library_icon {
    display: block;

}

.head {
    display: flex;
    justify-content: space-between;

}

a.library_field {
    text-decoration: none;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    font-weight: 600;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img.library_icon {
    width: 16px;
    display: none;
}

button.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background-color: #1f1f1f;
    padding: 3px 18px;
    color: white;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

button.btn:hover {
    background-color: #2a2a2a;
}


img.plus_icon {
    width: 16px;
}

.data {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    background-color: #2a2a2a;
    border-radius: 8px;
    margin: 22px 0px;
    font-size: 12px;
    color: white;
    gap: 8px;
    padding: 12px 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button.data_btn {

    border-radius: 48px;
    background-color: white;
    padding: 6px 14px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    margin-top: 12px;
}

/* songlist */

.line {
    height: 70vh;
    border-left: 1px solid black;
    align-self: center;
    cursor: grab;
}

.line:hover {
    border-left: 1px solid white;
}

.part1 {
    display: block;
}



.part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.playBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid white; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    gap: 15px;
    border-radius: 28px;

}

.info {
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.info p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 16px;
}


.playBox span {
    width: 100%;

}

.playBox img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    border-radius: 28px;

}

.part3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    color: white;
    padding: 0px 10px;
    display: none;

}

.part3::-webkit-scrollbar {
    width: 15px;
}

.part3::-webkit-scrollbar-thumb {
    background-color: rgb(88, 88, 88);
}

.part3::-webkit-scrollbar-thumb {
    background-color: rgb(88, 88, 88);
}

.part3::-webkit-scrollbar-thumb:hover {
    background-color: rgb(165, 165, 165);
    cursor: grabbing;

}

.part3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;
    /* background-color: #007aff; */
    list-style: none;
    padding: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid white;
}

.one {
    margin-bottom: 5px;
}

.two {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.part3 ul.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /* background-color: #007aff; */
    list-style: none;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px dotted white;
}

.list li {
    text-transform: capitalize;

}

.list_play img {
    width: 16px;
}


.right_w {
    width: 70vw;
    background-color: #1f1f1f;
    border-radius: 8px;
    overflow-y: scroll;
    position: relative;

}

.right_w::-webkit-scrollbar {
    width: 15px;
    display: block;
    opacity: 0;

}

.right_w::-webkit-scrollbar-track {
    display: none;

}

.right_w::-webkit-scrollbar-thumb {
    background-color: rgb(88, 88, 88);
}

.right_w::-webkit-scrollbar-thumb:hover {
    background-color: rgb(165, 165, 165);
    cursor: grabbing;

}

.right_w::-webkit-scrollbar-track-piece {
    display: none;

}

.heading {
    padding: 20px 40px 10px 40px;
    border-radius: 8px;
    width: 100%;
    background-color: #1f1f1f;
}

.heading_btns {
    display: flex;
    gap: 8px;
}

.heading_btn {
    /* border:1px solid white; */
    padding: 6px 0px;
    color: white;
    border-radius: 58px;
    background-color: #2a2a2a;
}

.heading_btn span {
    padding: 4px 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.white {
    background-color: white;
}

.white span {
    color: black;
}

.pl_header {

    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: end;
    padding: 20px 40px 0px 40px;

}

.pf_header {

    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: end;
    padding: 15px 40px 0px 40px;

}

.pl_header,
.pf_header h2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pl_header p,
.pf_header p {
    color: rgb(165, 165, 165);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: self-end;
    font-size: 14px;
    font-weight: 700;

}

.swiper {
    width: 100%;
    /* max-width: 1000px; */
    padding-left: 30px;
    margin: 8px auto;
    position: relative;
    z-index: 1;

}

.swiper-wrapper {
    width: 100%;

}

.swiper-slide {
    width: 172px;
    color: #fff;
    padding: 12px 10px;
    border-radius: 12px;

}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.swiper-slide p {
    font-size: 15px;
    color: rgb(165, 165, 165);
    margin-top: 7px;
    line-height: 1.2;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
}

.swiper-slide p:hover {
    color: white;
    text-decoration: underline;
}

.swiper-button-next,
.swiper-button-prev {
    color: #007aff;
}



.play {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    bottom: 55px;
    opacity: 0;
    background-color: #1ed760;
    transition: background-color 1s ease;
    transition: transform 0.5s ease;
    transition: opacity 0.6s cubic-bezier(0, 0, 0.08, 0.55);
    transition: bottom 0.2s ease-out;

}

.play button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play img {
    height: 22px;
    width: 22px;

}

.play:hover {
    transform: scale(1.07);
    background-color: #3be477;
}

.swiper-slide:hover>.play {
    opacity: 1;
    right: 16px;
    bottom: 70px;
}

.swiper-slide:hover {
    background-color: #2a2a2a;

}

.swiper-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #1f1f1f;
    color: white;
    padding: 8px;
    text-align: center;
    position: absolute;
}


.f_container {
    width: 100%;
}

.divider {
    display: flex;
    width: 100%;
    gap: 25px;
    padding: 50px 0px;
}

.f_wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    width: 80%;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.row h4 {
    font-weight: 600;
}

.row_data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f_wrapper h4 {
    color: white;
}

.f_wrapper li {
    list-style: none;
    color: rgb(165, 165, 165);
}


.f_wrapper li:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;

}

.social {
    width: 20%;
    padding: 10px 0px;
}

.social_links {
    display: flex;
    gap: 5px;
    justify-content: space-around;

}

.social_links li {
    list-style: none;

}

.social_links span {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #3d3d3d;

}

.social_links span:hover {
    background-color: rgb(150, 149, 149);
}

.social_links img {
    width: 18px;
    border-radius: 50%;
}

.discp {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 30px;

}

hr {
    width: 95%;
    margin: 0px auto;
}

.discp ul {
    display: flex;
    gap: 12px;
}

.discp ul li {
    list-style: none;
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.discp ul li:hover {
    color: white;
    cursor: pointer;

}

.discp p {
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.discp p:hover {
    color: white;
    cursor: pointer;

}

.playbar {
    width: 100%;
    height: 11vh;
    /* padding: 0px 40px; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    width: 20%;
    
}

.bar1 span {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    overflow: hidden;
    border: 2px solid white;

}

.bar1 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.artist_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}


.bar1 p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.artist_info:nth-child(2) {
    color: rgb(165, 165, 165);

}

.bar2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;

}

.bar3 {
    width: 20%;

}

/* 
.bar2,
.bar1,
.bar3 {
    border: 1px solid red;
} */




.Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Song_play img {
    height: 40px;
    width: 40px;
}

.backward_btn img,
.forward_btn img {
    height: 25px;
    width: 25px;
}

.bar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#progressBar {
    -webkit-appearance: none;
    width: 300px;
    height: 3px;
    background-color: #3d3d3d;
    position: relative;

}

.circle {
    position: absolute;
    top: -3px;
    left: 0%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: white;
    transition: left 0.5s;
}




.bar-items span {
    color: rgb(165, 165, 165);
    font-size: 13px;
}



@media (max-width:900px) {
    .left_w {
        width: 10%;

    }

    .left_w .library_text,
    .create,
    .data {
        display: none;

    }

    .part2 {}

    .head {
        justify-content: center;
    }

    .library_icon {
        display: block;
        width: 50px;
    }


    .right_w {
        width: 90%;
    }

    .container {
        width: 100%;

    }

    .mid {
        display: flex;
        gap: 10px;

    }

    input#write {
        width: 280px;
    }

    div.right {
        gap: 2px;

    }

}

@media (max-width:780px) {
    .mid {
        display: none;
    }

    div.right {
        gap: 6px;

    }


}