* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font: white;
    height: 100vh;
    overflow-y: hidden;
}

.main_navbar {
    height: 69px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

img.invert {
    filter: invert(1);
    height: 32px;
}

img.log {
    height: 32px;
    cursor: pointer;
}

.logo {
    padding: 0px 18px;
}

img.home {
    height: 24px;
    cursor: pointer;

}

button#ho {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(31, 31, 31);
    transition: scale ease-in .22s;
}

button#ho:hover {
    transform: scale(1.03);
    background-color: rgb(40, 40, 40);
}

button {
    background: transparent;
    border: 0px;
}

.mid {
    display: flex;
    gap: 8px;

}

.search1 {
    width: 10%;
}

.search2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 90%;
    border-radius: 38px;
    background-color: rgb(31, 31, 31);
    padding: 0px 15px;
}

img.ser {
    width: 22px;
    color: rgb(40, 40, 40);
}

input#write {
    width: 380px;
    padding: 13px;
    font-size: 1rem;
    background-color: rgb(31, 31, 31);
    border: 0px;
    color: white;
}

.search2:focus-within {
    border: 2px solid white;
}

input#write:focus-visible {
    outline: -webkit-focus-ring-color 0px;
}

img.bes {
    width: 24px;
    transition: scale ease-in .22s;

}

img.bes:hover {
    transform: scale(1.08);

}

.s2 {
    padding-left: 12px;
    height: 28px;
    border-left: 1px solid rgb(209, 208, 208);
}

div.right {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    text-align: center;
    align-items: center;

}

a.install_field {
    text-decoration: none;
    display: flex;
    color: rgb(165, 165, 165);
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 0px 8px;
    font-weight: 700;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all ease-in .22s;
}

a.install_field:hover {
    transform: scale(1.03);
    color: white;
}

img.install_icon {
    width: 16px;

}

a.bell_field {
    text-decoration: none;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    align-items: center;
    gap: 22px;
    padding: 0px 8px;

}

span.bell_icon img {
    width: 16px;
    transition: scale ease-in .22s;
}

span.bell_icon img:hover {
    transform: scale(1.09);
}

.u_name {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    background-color: rgb(31, 31, 31);

}

span.user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: scale ease-in .22s;
}

span.user:hover {
    transform: scale(1.09);
}

.container {
    display: flex;
    gap: 5px;

}

.left_w {
    width: 30vw;
    height: 75vh;
    background-color: #121212;
    border-radius: 8px;
    padding: 12px 16px;

}

.head {
    display: flex;
    justify-content: space-between;

}

a.library_field {
    text-decoration: none;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img.library_icon {
    width: 16px;

}

button.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background-color: #1f1f1f;
    padding: 3px 18px;
    color: white;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

button.btn:hover {
    background-color: #2a2a2a;
}


img.plus_icon {
    width: 16px;
}

.data {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    background-color: #2a2a2a;
    border-radius: 8px;
    margin: 28px 0px;
    font-size: 14px;
    color: white;
    gap: 8px;
    padding: 16px 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button.data_btn {

    border-radius: 48px;
    background-color: white;
    padding: 6px 14px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    margin-top: 12px;
}



.line {
    height: 70vh;
    border-left: 1px solid black;
    align-self: center;
    cursor: grab;
}

.line:hover {
    border-left: 1px solid white;
}


.right_w {
    width: 70vw;
    height: 75vh;
    background-color: #1f1f1f;
    border-radius: 8px;
    overflow-y: scroll;
    position: relative; 

}

.right_w::-webkit-scrollbar{
    width: 15px;
    display: block;
    opacity: 0;

}
.right_w::-webkit-scrollbar-track{
    display: none;

}

.right_w::-webkit-scrollbar-thumb{
    background-color: rgb(88, 88, 88);
}

.right_w::-webkit-scrollbar-thumb:hover{
    background-color: rgb(165, 165, 165);
    cursor: grabbing;

}

.right_w::-webkit-scrollbar-track-piece{
    display: none;

}
.heading {
    padding: 20px 40px;
    border-radius: 8px;
    position: fixed;
    width: 67.9%;
    overflow: hidden;
    z-index: 3;
    background-color: #1f1f1f;
}

.heading_btns {
    display: flex;
    gap: 8px;
}

.heading_btn {
    /* border:1px solid white; */
    padding: 6px 0px;
    color: white;
    border-radius: 58px;
    background-color: #2a2a2a;
}

.heading_btn span {
    padding: 4px 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.white {
    background-color: white;
}

.white span {
    color: black;
}

.pl_header {
    
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: end;
    padding: 94px 40px 0px 40px;
    z-index: 2;

}

.pf_header {
    
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: end;
    padding: 15px 40px 0px 40px;
    z-index: 2;

}

.pl_header,.pf_header h2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pl_header,.pf_header p {
    color: rgb(165, 165, 165);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: self-end;
    font-size: 14px;
    font-weight: 700;

}

.swiper {
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
    margin: 8px auto;
    position: relative;
    z-index: 1;

}

.swiper-wrapper {
    width: 100%;

}

.swiper-slide {
    width: 172px;
    color: #fff;
    padding: 12px 10px;
    border-radius: 12px;

}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.swiper-slide p {
    font-size: 13px;
    color: rgb(165, 165, 165);
    margin-top: 7px;
    line-height: 1.4;
    font-weight: 600;
    font-family: sans-serif;
}


.swiper-button-next,
.swiper-button-prev {
    color: #007aff;
}



.play {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    bottom: 55px;
    opacity: 0;
    background-color: #1ed760;
    transition: background-color 1s ease;
    transition: transform 0.5s ease;
    transition: opacity 0.6s cubic-bezier(0, 0, 0.08, 0.55);
    transition: bottom 0.2s ease-out;

}

.play button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play img {
    height: 24px;
    width: 24px;

}

.play:hover {
    transform: scale(1.07);
    background-color: #3be477;
}

.swiper-slide:hover>.play {
    opacity: 1;
    right: 16px;
    bottom: 70px;
}

.swiper-slide:hover {
    background-color: #2a2a2a;

}

.swiper-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #1f1f1f;
    color: white;
    padding: 8px;
    text-align: center;
    position: absolute;
}


.f_container{
    width: 100%;
}
.divider{
    display: flex;
    width: 100%;
    gap: 25px;
    padding: 50px 0px;
}

.f_wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    width: 80%;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.row h4{
   font-weight: 600;
}
.row_data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.f_wrapper h4{
    color: white;
}
.f_wrapper li{
    list-style: none;
    color: rgb(165, 165, 165);
}


.f_wrapper li:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;

}

.social{
     width: 20%;
     padding: 10px 0px;
}

.social_links{
    display: flex;
    gap: 5px;
    justify-content: space-around;
    
}
.social_links li{
    list-style: none;
    
}

.social_links span{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #3d3d3d;

}
.social_links span:hover{
    background-color:rgb(150, 149, 149);
}

.social_links img{
    width: 18px;
    border-radius: 50%;
}

.discp{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 30px;

}

hr{
    width: 95%;
    margin: 0px auto;
}

.discp ul{
    display: flex;
    gap: 12px;
}

.discp ul li{
    list-style: none;
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.discp ul li:hover{
    color: white;
    cursor: pointer;

}

.discp p{
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.discp p:hover{
    color: white;
    cursor: pointer;

}

.playbar{
    width: 100%;
    margin-top: 4px;
    height: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Buttons{  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Song_play img{
     height: 40px;
     width: 40px;
}
.backward_btn img, .forward_btn img{
    height: 25px;
    width: 25px;
}

.bar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#progressBar{
    -webkit-appearance: none;
    width: 450px;
    height: 4px;
    background-color: #3d3d3d;
    
}
#progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 4px;
    width: 4px;
    background-color: rgb(165, 165, 165);
}

#progressBar::-webkit-slider-thumb:active{
    border-radius: 50%;
    height: 10px;
    width: 10px;
}


.bar-items span{
    color: rgb(165, 165, 165);
    font-size: 13px;
}